<h1>placeDisc</h1>
<section class="discrip" style="text-align: center">
    
    <section class="placeDis-section">
        <div class="posted-by">
            <p><% place.user_id %> </p>
        </div>
    
        <div class="">
            <img class="image-post" src="<%= place.image_url %> " alt="">
    
        </div>
        <div class="LCS" style="text-align:left">
            <i class="fa fa-thumbs-up" aria-hidden="true" style="color:#ADEFD1FF"></i>
            <!-- <i class="fa fa-thumbs-down" aria-hidden="true" style="color:#ADEFD1FF"></i> -->
            <i class="fa fa-paper-plane" aria-hidden="true" style="color:#ADEFD1FF"></i>
            <i class="fa fa-comment" aria-hidden="true" style="color:#ADEFD1FF"></i>
        </div>
        <div class="desc">
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= place.name %>, <%= place.country %> </p>
            <p> <%= place.typeofplace %> </p>
            <p><%= place.season %> </p>
            <p><i class="fa fa-play-circle" aria-hidden="true"></i> <%= place.thingstodo %> </p>
            <p><i class="fa fa-star" aria-hidden="true"></i> <%= place.recomendation %>/10  </p>
    
        </div>
    </section>
</section>

    <footer class="placeDisc_footer">
        <a href="/places/<%= place.id%>/emend"><i class="fa fa-pencil-square-o" aria-hidden="true" style="color:#ADEFD1FF"> Edit</i> </a>
        <a href=""><i class="fa fa-plus-square" aria-hidden="true" > Share</i></a>
    
    <form action="/delete/<%= place.id %>" method="post">
        <input type="hidden" name="id" value="<%= place.id %> ">
        <button>DELETE</button>
    </form>
        

    </footer>
  
    
